.follow-nature li {
  position: relative;

}

a::after {
  content: "RSS feed";
  position: absolute;
  background-color: #000;
  padding: 10px 20px;
  color: #fff;
  border-radius: 15px;
  top: 30px;
  left: 50%;
  width:auto;
  font-family: monospace;
  z-index: 99;
  display: none;
  transform: translateX(-50%);
}

.follow-nature a:hover::after {
  display: block;
  color: #fff;
  position: absolute;
}
